<h1>Добавить задачу</h1>
<form>
    <input type="text" name="taskName" placeholder="Название задачи">
    <input type="text" name="taskText" placeholder="Текст задачи">
    <input type="email" name="taskEmail" placeholder="Email задачи">
    <input type="submit" name="submit" value="submit">
</form>